
  .luz_cima{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3),
   -10px -10px 10px rgba(67, 67, 67, 0.5),
  

   inset -5px -10px 10px  rgba(67, 67, 67, 0.5),

   inset -3px 10px 10px rgba(0, 0, 0, 0.5),
   inset 10px -5px 10px rgba(0, 0, 0, 0.5),
  
   inset -10px 5px 10px rgba(67, 67, 67, 0.5),

   5px 10px 10px rgba(0, 0, 0, 0.5),
   8px 10px 10px rgba(61, 61, 61, 0.5);
  }

 
  .luz_cima_perto{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3),
   -15px -15px 10px rgba(67, 67, 67, 0.5),
  

   inset -5px -10px 10px  rgba(67, 67, 67, 0.5),

   inset -3px 7px 10px rgba(0, 0, 0, 0.5),
   inset 10px -5px 10px rgba(0, 0, 0, 0.5),
  
   inset -10px 5px 10px rgba(67, 67, 67, 0.5),

   5px 7px 10px rgba(0, 0, 0, 0.5),
   8px 10px 10px rgba(61, 61, 61, 0.5);
  } 


  .luz_meio{
   box-shadow: 10px -5px 10px rgba(0, 0, 0, 0),
   -15px -5px 10px rgba(94, 94, 94, 0.5),
  

   inset -5px -10px 10px  rgba(67, 67, 67, 0.5),

   inset -3px 5px 10px rgba(67, 67, 67, 0.5),
   inset 15px -5px 10px rgba(0, 0, 0, 0.5),
  
   inset -10px 5px 10px rgba(67, 67, 67, 0.5),

   8px 10px 10px rgba(0, 0, 0, 0.5),
   8px -10px 10px rgba(0, 0, 0, 0.5);
 }
 
  
  .luz_baixo_perto{
    box-shadow: -2px -15px 10px rgba(0, 0, 0, 0.5),
   -15px -8px 10px rgba(67, 67, 67, 0.5),
  

   inset 10px -5px 10px  rgba(0, 0, 0, 0.5),

   inset 10px 10px 10px rgba(67, 67, 67, 0.3),
   inset 10px -5px 10px rgba(0, 0, 0, 0.3),
  
   inset -10px 5px 10px rgba(67, 67, 67, 0.3),

   0px 15px 10px rgba(88, 88, 88, 0.3),
   15px -5px 10px rgba(0, 0, 0, 0.5);
  }

  


  .luz_baixo{
    box-shadow: -2px -8px 10px rgba(0, 0, 0, 0.5),
   -10px -8px 10px rgba(67, 67, 67, 0.5),
  

   inset 10px -5px 10px  rgba(0, 0, 0, 0.5),

   inset 10px 5px 10px rgba(67, 67, 67, 0.3),
   inset 10px -5px 10px rgba(0, 0, 0, 0.3),
  
   inset -10px 5px 10px rgba(67, 67, 67, 0.3),

   0px 5px 10px rgba(88, 88, 88, 0.3),
   10px -5px 10px rgba(0, 0, 0, 0.3);
  }

  .shadow_container_main{
    box-shadow: 10px -5px 10px rgba(0, 0, 0, 0.3),
   -15px -5px 10px rgba(94, 94, 94, 0.5),
  

   inset -5px -10px 10px  rgba(67, 67, 67, 0.5),

   inset -3px 5px 10px rgba(67, 67, 67, 0.5),
   inset 15px -5px 10px rgba(0, 0, 0, 0.5),
  
   inset -10px 5px 10px rgba(67, 67, 67, 0.5),

   8px 10px 10px rgba(0, 0, 0, 0.5),
   8px -10px 10px rgba(0, 0, 0, 0.5);
  }

  /* Shadow job  */
   
  .g35{
    box-shadow:12px -10px 20px 0px rgba(0, 0, 0, 1);
  }
  
  .g40{
    box-shadow:14px -5px 20px 0px rgba(0, 0, 0, 1);
  }

  .g45{
    box-shadow:14px 0px 20px 0px rgba(0, 0, 0, 1);
  }

  .g50{
    box-shadow:14px 5px 20px 0px rgba(0, 0, 0, 1);
  }

  .g55{
    box-shadow:14px 8px 20px 0px rgba(0, 0, 0, 1);
  }

  .g60{
    box-shadow:12px 10px 20px 0px rgba(0, 0, 0, 1);
  }

  .g65{
    box-shadow:12px 15px 20px 0px rgba(0, 0, 0, 1);
  }

  .g70{
    box-shadow: 7px 12px 20px 0px rgba(0, 0, 0, 1);
  }
   
  .g75{
    box-shadow: 5px 15px 20px 0px rgba(0, 0, 0, 1);
  }
