*{  
    border: solid 0;
    margin: 0;
    padding: 0;
    font-family: 'Futura Medium Condensed BT',Arial, Helvetica, sans-serif; 
} 

@font-face {
    font-family: 'helonik';
    src: url(../fonts/ckhans-fonts-helonik-extended-bold-demo.otf)format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lucida';
    src: url(../fonts/Lucida\ Console\ Regular.ttf)format('truetype');
}

@font-face {
   font-family: 'Futura Medium Condensed BT' ;
    src: url(../fonts/futura-medium-condensed-bt.ttf) format('truetype');
}

body{
    background-color: #f0f0f0;
    
}



::-webkit-scrollbar-thumb{
    background-color: #c5c5c5;
    
}



/*/////////////////////////////////////////////////////////////////////////////////////////*/
.header{
   
      position: fixed;
    width:100%;
    
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: solid 1px #ffffff;
    transition: 0.2s;
    z-index: 10000;
}



header > div > ul{
   color: #ffffff;
   font-size: 1.2rem;


   display: flex;
   flex-grow: 8;
   justify-content: flex-end;
   

   list-style-type: none;

   gap: 10rem;/*Espaço entre os itens*/
   
}

.menu_anime{
    color: #2b2b2b;
}
.menu li{
    display: flex;
    align-items: center;
    height: 90px;
    font-size: 1.5rem;
}

.menu li:hover{
  color: #3652fe;
  box-shadow:0px 1px 0px 0px #3652fe;

}

.menu{
    padding-right: 20px;
}


.header_anime{
    background-color: #ffffff;
    box-shadow:0px 3px 0px 0px #9c9c9c;
}

   .header_anime .img_header_suporte {
      filter: none;
   }

.header_anime .hamburger-inner::after,
.header_anime .hamburger-inner::before,
.header_anime .hamburger-inner{
    background-color: #2b2b2b; 
  }

  .header_anime .hamburger.is-active .hamburger-inner,
  .header_anime .hamburger.is-active .hamburger-inner::before,
  .header_anime .hamburger.is-active .hamburger-inner::after {
    background-color: #2b2b2b; }


  
.header_anime li:hover{
    color: #3652fe;
    box-shadow:0px 3px 0px 0px #3652fe;
}


/* ////////////////////////////////////// */

  .logoheader { 
     max-width:300px;
     max-height:300px;
     width: auto;
     height: auto;
     transition: 1.5s;
    }

    .logoheader_anime{
        max-width:80px;
        max-height:80px;
        width: auto;
        height: auto;
    }

  .divlogo{
    width: 90px;
  
  }


  
  .divaldus{
     display: flex;
     position:fixed;
     justify-items: center;
     align-items: center;
     top: 50%;
     left: 50%;
     margin-right: -50%;
     transform: translate(-50%, -50%) ;
     transition: 2.5s;
     
  }

   .divaldus_anime{
      top: 0;
      transform: translate(0,0) ;
      left: 0;
      margin-right: 0;
      height: 90px;
      margin-left: 100px;
  }

   /*///////////////////////////////////*/
   .img_header_suporte{
    height: 65px;
    width: 65px;
    filter: invert();
}

.filter_none{
    filter: none;
}
     
   .click_close{
    width: 100%;
    height: 100%;
    display: none;
    position:fixed;
    z-index: 10;
    }

   .suporte{
       position:fixed;
       right: 0px;
       top: 90px;
       height: 300px;
       width: 0px;
       visibility: hidden;
       overflow-x: hidden;
       border-bottom-left-radius: 25px;
       transition:all 0.4s;
       display: flex;
       flex-direction: column;
       z-index: 1000;
       background: rgba(22, 24, 121, 0.5);
       box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
       backdrop-filter: blur( 3px );
       -webkit-backdrop-filter: blur( 3px );
   }

   .suporte > div{
       display: flex;
       align-items: center;
       justify-content: space-around;
   }

   .info{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
   }

   .info > p{
       font-size: 1.5rem;
       color: #ffffff;
       margin: 0 20px;
   }

   .botao_su{
       color: #000000;
        padding: 5px 15px;
        font-size: 1.1rem;
        
   }
   
   .info > button{
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
       padding: 5px;
       border-radius: 25px;
       box-shadow:         3px 4px 0px 0px rgb(124, 130, 241);
   }
    
   .suporte_anime{
    width: 400px;
    visibility: visible;
    overflow-y: auto;
   }
    
   .click_suporte{
       position: fixed;
       right: 5px;
       top: 50vh;
       z-index: 1000;
       background-color: rgb(214, 214, 214, 0.5);
       border-radius: 40px;
       overflow: hidden;
       cursor: pointer;
   }

   .click_suporte:hover{
      
    background-color: rgb(214, 214, 214, 1);
   }

   .click_suporte > img{
       height: 65px;
       width: 65px;
       z-index: 50;

   }

   .img_suporte{
       display: none;
   }
    
   .remoto{
       height: 100px;
       width: 100%;
       border-bottom: solid 1px rgb(214, 214, 214, 0.5) ;
      
   }
   .xml{
    height: 100px;
    width: 100%;
    border-bottom: solid 1px rgb(214, 214, 214, 0.5) ;
    
   }

   .suporte_number{
        height: 100px;
        width: 100%;
        
   }

   .suporte > div > img{
       margin-left: 10px;
       height: 60px;
       width: 60px;
   }
  

  /*Mobile//////////////////////////////////////////*/
   
   .hamburger{
       display: none;
   }




/*//////////////////////////////////////////////////////////////////////*/
.main{
    height: 100vh;
    width: 100%; 
    
}

#principal{
background-image: url(../img/main.jpg);
background-position: center;
background-size: cover;
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-items: center;
}


/*//////////////////////////////////////////////*/
.h1principal{
    position: absolute;
    font-size: 150px;
    color: rgb(255, 255, 255);
    opacity: 0;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    font-family: 'Futura Medium Condensed BT',Arial, Helvetica, sans-serif;
    
}


.h1principal_anime{
    opacity: 1;
    transition: 3s;
}
/*//////////////////////////////////////////////*/
.aldus{ 
    font-size: 125px;
    color: rgb(255, 255, 255);
    z-index: 6;
    font-family: 'helonik';
    font-weight: normal;
}

.aldus_anime{
    opacity: 0;
    transition: 2s;
}

#secundario > ul{
    margin: auto;
    margin-top: 70px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#secundario > ul >  li{
   
    text-align: center;
    position: relative;

    height: 220px;
    width: 240px;
    
    border-radius: 15px;
    
    margin-left: 15px;
    margin-right: 15px;

    list-style-type: none;

    background: rgb(10,42,238);
    background: linear-gradient(135deg, rgba(10,42,238,1) 0%, rgba(33,71,232,1) 23%, rgba(35,97,219,1) 92%);


    transition: all 0.5;
    cursor: pointer;

    z-index: 1;
    box-shadow:         0px 6px 19px 0px rgba(50, 50, 50, 1);
}   

#secundario > ul >  li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.06);
}


/*Texto*/
#secundario > ul >  li > p{
    color: #e6e6e6;
    
     font-size: 2rem;
     font-weight: 900;
     z-index: 0;
}



#secundario > ul >  li > img{
   
   margin-top: -35px; 
   width:  100px;
   height: 100px;
 

}

.anime1{
    opacity: 0;
    transform: translate3d(-50px,0,0);
    transition: 1s;

    

}

.anime2{
    opacity: 0;
    transform: translate3d(0,50px,0);
    transition: 1s;
}
.anime3{
    opacity: 0;
    transform: translate3d(50px,0,0);
    transition: 1s;
}


.anime_start{/*Vai animar*/
    opacity: 1;
    transform: translate3d(0,0,0);  
}
  


 /*secundario///////////////////////////////////////////*/

#secundario  {
    background-image: url(../img/fundo.jpg);
    background-position:center;
    background-repeat: no-repeat;
    
    position: relative;
    height: 750px;
    width: 100%;
    text-align: center;
}

h2{  
    color: rgb(68, 68, 68);
    font-size: 50px;
}

.text1{
    
    margin: auto;
    color: rgb(68, 68, 68);
    width:  800px;
    margin-top: 50px;
}


.text1 > p {
  font-size: 2rem;
  text-align: justify;
  padding: 5px 0vw;
}


.text1 > p >img{
  height: 2vw;
  width: 2vw;
}




/*//////////////////////*/
.sys{
  position: relative;
  margin-bottom: 200px;
}

.sistemas{
    display: grid;
    grid-template-columns: 250px 750px;
    grid-template-rows: 1fr 1fr 1fr ;
    width:1000px;
    height: 500px;
    box-shadow:0px 10px 18px 0px rgba(50, 50, 50, 0.64);
    border-radius: 5px;
    margin: auto;
}

.sistemas  li{
    box-sizing: border-box;
    position: relative;
    color: #e0e0e0;
    list-style-type: none;
    transition: all 0.5s ;
    background-color: rgb(68, 68, 68);
}

.sistemas li > p{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
}
   
.system1{
    border-top-left-radius: 5px;
    

}


.system2{
   
    border-top: solid 4px #1d1d1d;
    border-bottom:solid 4px #1d1d1d;
    
}

.system3{

border-bottom-left-radius: 5px;

}

#infoSystem{
    grid-column-start:2 ;
    grid-column-end: 3;/*Começa na linha e termina na 4*/
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 475px auto;
    grid-template-rows: 60px  auto ;
    box-sizing: border-box;
    background: rgb(54,82,254);
    background: linear-gradient(90deg, rgba(54,82,254,1) 0%, rgba(33,71,232,1) 15%, rgba(21,30,236,1) 62%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 1s;
 
}

h3{ 
    font-size: 3rem;
    color: #e0e0e0;
   text-align: center;
   grid-column-start:1 ;
   grid-column-end: 3;

}
.imgsystem{
 
    display: flex;
    align-items: center;
    justify-items: center;
    grid-column-start:2 ;
   grid-column-end: 3;
   grid-row-start:2;
   grid-row-end:3;

}

.imgsystem > img{
    
    height: 350px;
    width: 250px;
    

}

.systemText {

    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1.5vw;
    box-sizing: border-box;
    color: #e0e0e0;
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3;
    padding: 0 30px;
}

.normalText{
    transform: translate(-50%, -50%);
    opacity: 1;
}

#distancia{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
   height: 500px;
}

.missao{
    font-size: 2vw;
    width: 40vw;
   
}


.missaoimg{

   position: relative;
    height: 26vw;
    width: 47vw;
    z-index: 1;
    background-color: #3652fe;
    transform: rotate(-5deg);
    border-radius: 28px;
    border-radius: 50px;
    
}



.missaoimg > img{
    position: absolute;
    height: 25vw;
    width: 45vw;
    bottom: 0;
    right: 0;
    transform: rotate(5deg);
    border-radius: 28px;
}



nav{
    z-index: 0;
    background-color: #f0f0f0;
    
}

footer{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-rows: auto  150px 50px ;
    grid-template-columns: 1fr 1fr;
    color: #e0e0e0;
    font-family: 'Mulish', sans-serif;
    bottom: 0;
    height: 400px;
    background-color: rgb(68, 68, 68);
    position: sticky;
    z-index:-1;
    box-shadow:         inset 1px 28px 24px 0px rgba(50, 50, 50, 0.58);
}

address{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    
}

.location{
    background-image: url(../img/location.PNG);
    top: -10px;
    width: 100%;
    height: 150px;
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    box-shadow:         inset 2px 57px 50px 0px rgba(50, 50, 50, 0.75);
    
}



.copy{
    /*grid-column-start:2 ;
    grid-column-end: 3;Começa na linha e termina na 4*/
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: .5rem;
    box-sizing: border-box;
    width:800px ;
    margin: auto;
    padding: 15px 0px;
    border-top:solid 1px #2b2b2b;
    font-size: 1rem;
    height: 50px;
    
}


.logo3{
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.logo3 > img{
 height: 80px;
 width: 80px;
}

.logo3 > p{
    width: 60px;  
}





.whats{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    z-index: 5;
    opacity: 0;
    transition: all 1s;
    cursor: pointer;
  }
  
  .whats.active{
      display: none;
  }
  
  .whats_anime{
      opacity: 1;
  } 

/*Open Whats///////////////////////////////*/
.container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-image: url('../img/fundo_whats.jpg');
    height: 400px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1000;
    bottom: -400px;
    visibility: hidden;
    overflow-x: hidden;   
    transition: 0.4s;
    opacity: 0;
}

.container.active{
    opacity: 1;
    bottom: 10px;
    right: 10px;
transition: 0.5s;
visibility: visible;
overflow-y: auto;   
}


.header_whats {
    box-sizing: border-box;
    background: rgb(10,42,238);
    background: linear-gradient(135deg, rgba(10,42,238,1) 0%, rgba(33,71,232,1) 23%, rgba(35,97,219,1) 92%);
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    padding-right: 1px;
}

.profile>img {
    height: 40px;
    width: 40px;
}

.online {
    background-color: rgb(16, 255, 175);
    height: 11px;
    width: 11px;
    border-radius: 50%;
}

.transparent {
 
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 1px;
    border: 50%;
    padding: 2px;
}

.container_profile {
    display: flex;
    flex-direction: row;
}

.container_name {
    width: 50px;
    height: 40px;
    align-self: end;
    margin-left: 5px;
}

.name_chat {
    color: aliceblue;

}

.name_online {
    color: rgb(224, 224, 224);
    font-size: 9px;

}

.close {
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: solid 1px #ffffff;
    background-color: rgba(61,68,245,1);
    cursor: pointer;
}

.container_mensseger{
    position: relative;
    margin-top: 30px;
}

.mensseger1{
    margin-top: 30px;
   margin-left: 30px;
   background-color: rgb(238, 238, 238);
   height: 70px;
   width: 200px;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   border-bottom-left-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: 1s;
   background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             
}


.mensseger2{
    margin-top: 30px;
   padding: 15px;
   margin-left: 30px;
   background-color: rgb(238, 238, 238);
   height: 120px;
   width: 250px;
   border-top-right-radius: 35px;
   border-bottom-right-radius: 35px;
   border-bottom-left-radius: 35px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   opacity: 0;
   transition: 1s;
}

.mensseger_active{
    opacity: 1;
}

/*loading///////////////////////////////////*/
.pontos{
    position: absolute;
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 50px;
   
    justify-content: center;
   align-items: center;

   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%) ;
}

.contido {
    width: 15px;
}


.circle {
  
    border-radius: 50%;
    background-color: rgb(214, 214, 214);
    height: 10px;
    width: 10px;
    transition: 0.4s;
}
/*
.largura{
    height: 2px;
    background-color: aqua;
    width: 1050px;
}*/