@media (min-height:900px) and  (max-width:1285px) {
    #nodes{
        position: absolute;
        height: 90vh;
        width: 100%;
    }
   
    .container_principal{
        position: relative;
        width: 100%;
        height: 90vh;
    }
    
    
    .h1_container{
        position: absolute;
        height: 400px;
        width: 400px;
        bottom: 200px;
        display: flex;
        align-items: center;
        padding-left: 60px;
        color: rgb(31, 31, 31);
    }

    .container_main{
        position: absolute;
        right: -30px;
        height: 800px;
        width: 1020px;
        overflow: hidden;
    }
    
    .main{
        position: absolute;
        top: -270px;
        right: 100px;
        transform: rotate(51deg);
        height: 870px;
        width: 670px; 
        border-radius: 60px;
        overflow: hidden;
        box-shadow: 0 0 10px #1d1d1d9d;
    }
    
    .background{
       bottom: -200px;
       left: -250px;
       position: absolute;
       height: 900px;
       width: 1200px;
       background-image: url(../img/main.jpg);
       transform: rotate(-50deg);
       z-index: 10;
    }
    
    
    .divisor{
        position: absolute;
        bottom: 0;
        filter: drop-shadow(0 -20px 10px #4d4d4d31);
        width: 110vw;
        transition: all .5s;
       
    }
    .divisor_anime{
        transform: rotate(36.5deg) translate3d(70px, -80px, 0);
    }
    
    .divisor_base{
        margin-top: -5px;
        width: 100%;
        height: 600px;
        background-color: #ffffff;
        position: absolute;
        transition: all .5s;
        margin-left: -500px;
    }
    
    .divisor_base_anime{
        margin-top: -102px;
        transform: rotate(50.5deg) translateY(-350px) translateX(-350px);
        transition: all .3s;
    }
    /*sugundo///////////////////////////////////////////////////////////*/
    .h2_container{
        position: absolute;
        height: 200px;
        width: 500px;
        bottom: 180px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        color: rgb(31, 31, 31);
        line-height: 1.25;
        z-index: 100;
        transition: .3s;
        opacity: 0;
        transform: translate3d(-20px,0,0);
        
    }
    
    .h2_container_anime{
        transition: all 1s;
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    
    strong{
        padding: 0 5px;
        background-color: rgba(22, 24, 121);
        color: #fdfdfd;
    }
    
    .distancia{
        height: 100vh;
        background-color: #ffffff;
    }
    
    .container_text1{
      position: relative;
      margin: auto;
      width: 1000px;
      opacity: 0;
      transition: 1s;
      transform: translateY(200px);
    }
    
    .text1_anime{
        opacity: 1;
        transform: translateY(0px);
    }
    .text1{
        position: absolute;
        margin: auto;
        color: rgb(68, 68, 68);
        width:  1000px;
        margin-top: 50px;
        z-index: 1000;
    }
    
    
    .text1 > p {
      font-size: 3rem;
      text-align: center;
      padding: 5px 0vw;
      z-index: 1000;
    }
    
    
    .text1 > p >img{
      height: 2vw;
      width: 2vw;
      z-index: 1000;
    }
    
}

@media (min-height:1060px) and  (min-width:1285px) {
    #nodes{
        position: absolute;
        height: 90vh;
        width: 100%;
    }
   
    .container_principal{
        position: relative;
        width: 100%;
        height: 96vh;
    }
    
    
    .h1_container{
        margin-left: 50px;
        position: absolute;
        height: 400px;
        width: 500px;
        bottom: 400px;
        display: flex;
        align-items: center;
        padding-left: 60px;
        color: rgb(31, 31, 31);
    }
    h1{
        font-size: 7rem;
    }
    .container_main{
        position: absolute;
        right: -30px;
        height: 900px;
        width: 1500px;
        overflow: hidden;
    }
    
    .main{
        position: absolute;
        top: -600px;
        right: 200px;
        transform: rotate(51deg);
        height: 1400px;
        width: 900px; 
        border-radius: 60px;
        overflow: hidden;
        box-shadow: 0 0 10px #1d1d1d9d;
        
    }
    
    .background{
        top: 450px;
        left: -50px;
        
       position: absolute;
       height: 1100px;
       width: 1450px;
       background-image: url(../img/main.jpg);
       background-position: center;
       background-repeat: none;
       background-size: cover;
       transform: rotate(-50deg);
       z-index: 10;
    }
    
    
    .divisor{
        position: absolute;
        bottom: 0;
        filter: drop-shadow(0 -20px 10px #4d4d4d31);
        width: 110vw;
        transition: all .5s;
        left: -50px;
    }
    .divisor_anime{
        transform: rotate(36.5deg) translate3d(70px, -80px, 0);
    }
    
    .divisor_base{
        margin-top: -90px;
        width: 100%;
        height: 1000px;
        background-color: #ffffff;
        position: absolute;
        transition: all .5s;
        margin-left: -500px;
    }
    
    .divisor_base_anime{
        margin-top: -102px;
        transform: rotate(50.5deg) translateY(-250px) translateX(-350px);
        transition: all .3s;
    }
    /*sugundo///////////////////////////////////////////////////////////*/
    .h2_container{
        position: absolute;
        height: 200px;
        width: 600px;
        bottom: 300px;
        display: flex;
        align-items: center;
        padding-left: 50px;
        color: rgb(31, 31, 31);
        line-height: 1.25;
        z-index: 100;
        transition: .3s;
        opacity: 0;
        transform: translate3d(-20px,0,0);
        
    }
    
    .h2_container_anime{
        transition: all 1s;
        opacity: 1;
        transform: translate3d(0,0,0);
    }
    
    strong{
        padding: 0 5px;
        background-color: rgb(32, 34, 104);
        color: #fdfdfd;
    }
    
    .distancia{
        height: 100vh;
        background-color: #ffffff;
    }
    
    .container_text1{
      position: relative;
      margin: auto;
      width: 1500px;
      opacity: 0;
      transition: 1s;
      transform: translateY(200px);
    }
    
    .text1_anime{
        opacity: 1;
        transform: translateY(0px);
    }
    .text1{
        position: absolute;
        margin: auto;
        color: rgb(68, 68, 68);
        width:  1500px;
        margin-top: 50px;
        z-index: 1000;
    }
    
    
    .text1 > p {
      font-size: 5rem;
      text-align: center;
      padding: 5px 0vw;
      z-index: 1000;
    }
    
    
    .text1 > p >img{
      height: 2vw;
      width: 2vw;
      z-index: 1000;
    }
    
}